# Chapter 3 - Bayes Theorem

In [1]:
import pandas as pd

## The Cookie Problem

In [2]:
table = pd.DataFrame(index=['Bowl 1', 'Bowl 2'])

In [3]:
table['prior'] = 1/2, 1/2
table

        prior
Bowl 1    0.5
Bowl 2    0.5

In [4]:
table['likelihood'] = 3/4, 1/2
table

        prior  likelihood
Bowl 1    0.5        0.75
Bowl 2    0.5        0.50

In [5]:
table['unnorm'] = table['prior'] * table['likelihood']
table

        prior  likelihood  unnorm
Bowl 1    0.5        0.75   0.375
Bowl 2    0.5        0.50   0.250

In [6]:
prob_data = table['unnorm'].sum()
prob_data

0.625

In [7]:
table['posterior'] = table['unnorm'] / prob_data
table

        prior  likelihood  unnorm  posterior
Bowl 1    0.5        0.75   0.375        0.6
Bowl 2    0.5        0.50   0.250        0.4

## The Dice Problem

In [8]:
table2 = pd.DataFrame(index=[6,8,12])

In [9]:
from fractions import Fraction

In [10]:
table2['prior'] = Fraction(1,3)
table2['likelihood'] = Fraction(1,6), Fraction(1,8), Fraction(1,12)
table2

   prior likelihood
6    1/3        1/6
8    1/3        1/8
12   1/3       1/12

In [13]:
def update(table):
    """Compute the posterior probabilities."""
    table['unnorm'] = table['prior'] * table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data
    return prob_data

In [14]:
prob_data = update(table2)

In [15]:
table2

   prior likelihood unnorm posterior
6    1/3        1/6   1/18       4/9
8    1/3        1/8   1/24       1/3
12   1/3       1/12   1/36       2/9

## The Monty Hall Problem

In [16]:
table3 = pd.DataFrame(index=['Door 1', 'Door 2', 'Door 3'])
table3['prior'] = Fraction(1, 3)
table3

       prior
Door 1   1/3
Door 2   1/3
Door 3   1/3

In [18]:
table3['likelihood'] = Fraction(1,2), 1, 0
table3

       prior likelihood
Door 1   1/3        1/2
Door 2   1/3          1
Door 3   1/3          0

In [19]:
update(table3)
table3

       prior likelihood unnorm posterior
Door 1   1/3        1/2    1/6       1/3
Door 2   1/3          1    1/3       2/3
Door 3   1/3          0      0         0

## Exercises

### A.

In [20]:
ex1 = pd.DataFrame(index=['fair', 'trick'])
ex1['prior'] = Fraction(1,2)
ex1

      prior
fair    1/2
trick   1/2

In [21]:
ex1['likelihood'] = Fraction(1,2), 1
ex1

      prior likelihood
fair    1/2        1/2
trick   1/2          1

In [22]:
update(ex1)
ex1

      prior likelihood unnorm posterior
fair    1/2        1/2    1/4       1/3
trick   1/2          1    1/2       2/3

### B.

In [24]:
ex2 = pd.DataFrame(index=['BB', 'GG', 'GB', 'BG'])
ex2['prior'] = 1/4
ex2

    prior
BB   0.25
GG   0.25
GB   0.25
BG   0.25

In [25]:
ex2['likelihood'] = 0, Fraction(1,3), Fraction(1,3), Fraction(1,3)
ex2

    prior likelihood
BB   0.25          0
GG   0.25        1/3
GB   0.25        1/3
BG   0.25        1/3

In [27]:
update(ex2)
ex2

    prior likelihood    unnorm posterior
BB   0.25          0       0.0       0.0
GG   0.25        1/3  0.083333  0.333333
GB   0.25        1/3  0.083333  0.333333
BG   0.25        1/3  0.083333  0.333333

### C.

In [28]:
ex3 = pd.DataFrame(index=['Door 1', 'Door 2', 'Door 3'])
ex3['prior'] = Fraction(1, 3)
ex3

       prior
Door 1   1/3
Door 2   1/3
Door 3   1/3

In [29]:
ex3['likelihood'] = 0.5, 0, 0.5
ex3

       prior  likelihood
Door 1   1/3         0.5
Door 2   1/3         0.0
Door 3   1/3         0.5

In [30]:
update(ex3)
ex3

       prior  likelihood    unnorm posterior
Door 1   1/3         0.5  0.166667       0.5
Door 2   1/3         0.0       0.0       0.0
Door 3   1/3         0.5  0.166667       0.5

In [31]:
ex3a = pd.DataFrame(index=['Door 1', 'Door 2', 'Door 3'])
ex3a['prior'] = Fraction(1, 3)
ex3a

       prior
Door 1   1/3
Door 2   1/3
Door 3   1/3

In [32]:
ex3a['likelihood'] = 0, 1, 0
ex3a

       prior  likelihood
Door 1   1/3           0
Door 2   1/3           1
Door 3   1/3           0

In [33]:
update(ex3a)
ex3a

       prior  likelihood unnorm posterior
Door 1   1/3           0      0         0
Door 2   1/3           1    1/3         1
Door 3   1/3           0      0         0

### C.

In [37]:
ex4 = pd.DataFrame(index=['y94g96', 'y96g94'])
ex4['prior'] = 1/2
ex4

        prior
y94g96    0.5
y96g94    0.5

In [38]:
ex4['likelihood'] = 0.2*0.2, 0.14*0.1
ex4

        prior  likelihood
y94g96    0.5       0.040
y96g94    0.5       0.014

In [39]:
update(ex4)
ex4

        prior  likelihood  unnorm  posterior
y94g96    0.5       0.040   0.020   0.740741
y96g94    0.5       0.014   0.007   0.259259